body
{
  background-color: #606069;
  margin: 0px;
  padding: 0px;
}
#header
{
  background-color: #2B3141;
  margin: 0px;
  margin-bottom: 0px;
  height: 64px;
}
ul
{
  list-style-type: none;
  margin: 0px;
  position: absolute;
  z-index: 1;
}

#menu
{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
#menu li
{
  display: inline-block;
  background-color: #2B3141;
  box-shadow: 0px 0px 0px 4px #2B3141;
  margin-top: 0px;
  width: 80px;
  height: 40px;
  margin-left: 16px;
  text-align: center;
  transition-duration: 0.6s;
  position: static;
  border-radius: 15px 15px 15px 15px;
  background-image: none;
}
#menu li:hover
{
  color:red;
  box-shadow: 0px 0px 6px 4px black;
  background-color: #2B3141;
  margin-bottom: 5px;
  border-radius: 10px 10px 10px 0px;
}

#menu li a
{
  margin-top: auto;
  margin-bottom: 0px;
  font-size: 16px;
  padding: 6px;
  text-decoration: none;
  transition-duration: 0.5s;
  line-height: 40px;
  top:0px;
  color: grey;

}
#menu li a:hover
{
  position: relative;
  color:white;
}


.staticblock
{
  position: fixed;
  height: 120px;
  width: 120px;
  top: 120px;
  right: 0;
  background: #2B3141;
  z-index: 2;
}




.staticblock h1
{
  color: orange;
  font-size: 60px;
  margin: 0px auto;
  text-align: center;
  position: relative;
  top: 90px;
  right: 0px;
}

#contener
{
  background-color: #606069;
}
.obraz
{
  width:600px;
  height:400px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.img_contener
{
  text-align: center;
  margin: 0px;
}
.p1
{
  width: 770px;
  text-align: justify;
  margin-left: auto;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
  background-color: grey;
}
.p2
{
  width: 600px;
  text-align: justify;
  bottom: 120px;
  margin-left: 0px auto;
  margin: 0 auto;
  background-color: grey;
}
