/*animacja po najechaniu na pasek menu*/
.tytul:hover
{
  text-align: center;
  position: relative;
  color: orange;
  top: 8px;
  animation-name: menuhover;
  animation-duration: 2s;
  -webkit-animation-name: menuhover;
  -webkit-animation-duration: 2s;
}
  @-webkit-keyframes menuhover{
  0%   {color:grey; top: 16px;}
  100% {color:orange; top: 8px;}
  }
  @keyframes menuhover{
  0%   {color:grey; top: 16px;}
  100% {color:orange; top: 8px;}
  }

/*animacja wejsciowa statycznego okienka "A"*/
.staticblock
{
    -webkit-animation-name: slajd;
    -webkit-animation-duration: 1s;
    animation-name: slajd;
    animation-duration: 2s;
}
    @-webkit-keyframes slajd {
    0%   {top: -120px; right: -60px; }
    100% {top:120px; right: 0px;}
    }
    @keyframes slajd {
    0%   {top: -120px; right: -60px; }
    100% {top:120px; right: 0px;}
    }

/* animacja tekstu w okienku statycznym */
.staticblock h1
{
  color: red;
  -webkit-animation-name: bounce;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-name: bounce;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
    @-webkit-keyframes bounce {
    0%   {font-size: 24px; border: 1px solid black;}
    50%   {font-size: 48px;top: 0; border: 10px solid white;}
    100%   {font-size: 24px; border: 1px solid black;}
    }
    @keyframes bounce {
    0%   {font-size: 24px; border: 1px solid black;}
    50%   {font-size: 48px; top: 0px; border: 10px solid white;}
    100%   {font-size: 24px; border: 1px solid black;}
    }
.p1
{
  -webkit-border-radius: 8px 0px 0px 15px;
  border-radius:  8px 0px 0px 15px;
  padding: 15px;
}
.p2
{
  -webkit-border-radius: 15px 8px 8px 15px;
  border-radius: 15px 8px 8px 15px;
  padding: 15px;
}
img
{
  -webkit-border-radius: 200px 8px 200px 15px;
  border-radius: 200px 8px 200px 15px;
}
