body
{
  background-color: #606069;
  margin: 0px;
  padding: 0px;
}
#header
{
  background-color: #2B3141;
  margin: 0px;
  margin-bottom: 0px;
  height: 64px;
}
.tytul
{
  text-align: center;
  margin: auto;
  padding-top: 16px;
  color: grey;
  position: relative;
  font-size: 32px;
}

.staticblock
{
  position: fixed;
  height: 120px;
  width: 120px;
  top: 120px;
  right: 0;
  background: #2B3141;
  z-index: 2;
}




.staticblock h1
{
  color: red;
  font-size: 60px;
  margin: 0px auto;
  text-align: center;
  position: relative;
  top: 90px;
  right: 0px;
}

#contener
{
  background-color: #606069;
}
.obraz
{
  width:600px;
  height:400px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.img_contener
{
  text-align: center;
  margin: 0px;
}
.p1
{
  width: 770px;
  text-align: justify;
  margin-left: auto;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
  background-color: grey;
}
.p2
{
  width: 600px;
  text-align: justify;
  bottom: 120px;
  margin-left: 0px auto;
  margin: 0 auto;
  background-color: grey;
}
